@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');

.welcome {
    margin-top: 177.5px;

}
.search{
    z-index: 1;
    border-radius: 5px;
    padding: 15px;
    background-color: #FF3333
}

 .search__control{
    display: flex !important;
    flex-direction: row !important;
}

.search__input{
    flex: 1;
    border-radius: 5px;
    padding: 15px;
    // color: white !important;
    background-color: #FF3333;
}
.search__inputButton{
    flex: 0;
}

 h1{
    border-color: #000000;
    font-weight: bolder;
    font-size: 98px;
    font-family: 'Coda Caption', sans-serif;
    text-shadow: 4px 3px 10px rgb(26, 148, 209);
}


@media only screen and (max-width: 650px) {
      h1{
        font-size: 67px;
    }
  }
@media only screen and (max-width: 430px) {
      h1{
        font-size: 57px;
    }
  }
@media only screen and (max-width: 340px) {
      h1{
        font-size: 47px;
    }
  }